html {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text__container {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
  font-size: 40px;
  color: #FFFFFF;
  transform: translate(-80px);
}

.text--still {
  display: inline-flex;
  margin: 0;
  margin-top: 3.2rem;
  vertical-align: top;
}

.text--shuffle {
  position: absolute;
  display: flex;
  opacity: 0;
}

.letter {
  transform-origin: center center 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

.letter.in {
  transition: 0.38s ease;
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter--invisible {
  color: transparent !important;
}

.color--green {
  color: rgb(80, 194, 103);
}

.color--yellow {
  color: rgb(204, 173, 71);
}

.color--blue {
  color: rgb(0, 238, 255);
}

.color--purple {
  color: rgb(216, 52, 216);
}

.color--red {
  color: rgb(255, 0, 0);
}

.white {
  color: white;
}